<?xml version="1.0"?>
<ruleset name="Appointiva">
	<description>Coding standards for the Appointiva plugin.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/assets/dist/*</exclude-pattern>
	<exclude-pattern>/admin-app/*</exclude-pattern>
	<exclude-pattern>/languages/*</exclude-pattern>

	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>

	<config name="testVersion" value="8.1-"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="appointiva"/>
				<element value="Appointiva"/>
				<element value="APPOINTIVA"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="appointiva"/>
			</property>
		</properties>
	</rule>
</ruleset>
